.box {
    width: 90vw;
}

.container {
    overflow-y: auto;
}

.item {
    display: inline-block;
    max-width: 80vw;
    opacity: 1;
}

.thumbnail {
    overflow: hidden;
    border-radius: 8px;
}

.info {
    margin-top: 10px;
    font-weight: bold;
    color: #777;
}
.item.animate {
    transition: opacity ease 1s;
    transition-delay: 0.2s;
    opacity: 1;
}

.container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container::-webkit-scrollbar {
    border:1px solid;
}